.vs
.idea
*.sdf
*.suo
out
build
*/Debug
*/Release
cmake-build-debug

ShootingCans/*/Debug
ShootingCans/*/Release

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
